/**** service area****/
.service-area{
    background: $bg-gray;
    .single-service{
        margin-bottom: 20px;
        padding: 20px 15px;
        background: $white;
        &:hover i{
            border-radius: 50%;
            
        }
        i{
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 60px;
            height: 60px;
            width: 60px;
            background: red;
            color: $white;
            transition: .2s ease-in-out;
        }
        h4{
            font-size: 22px;
            margin: 10px 0px;
        }
        p{
            color:$peragraph-color;
        }
    }
}