/***comon color****/
$white:#fff;
$black:#333;
/******them color*****/
$dark:#000;
$primary-color:#ff3636;
$heading-color:#ff3636;
$link-hover:#ff3636;
$btn-bg:#ff3636;
$btn-color:#fff;
$btn-hover-color:#ff3636;
$btn-hover-bg:#ffff;
$bg-gray:#f6f6f6;
$peragraph-color:gray;
